PORT=5002

# url mongodb #
MONGODB_URI=

# token expried #
TOKEN_LIFE=8

# url candlestick stream
WS_CANDLESTICK=

# url web verification email when register #
URL_WEB_VERIFICATION_EMAIL=

# config nodemailer #
NODEMAILER_HOST=
NODEMAILER_PORT=
NODEMAILER_SECURE=1
NODEMAILER_USER=
NODEMAILER_PASS=
EMAIL_ROOT=
PATH_TEMPLATE_EMAIL=

# redis config
REDIS_PORT=11663
REDIS_HOST=redis-11663.c264.ap-south-1-1.ec2.cloud.redislabs.com
REDIS_AUTH=q0h3eJRjjqQ4BotP73QG23ynzUmIi3C6

# CRYPTO SETTING
# PRIVATE KEY OF HOT WALLET
CRYPTO_PRIVATE_KEY=

# TRON - TRC20
TRON_FULL_NODE=
TRON_EVENT_NODE=
TRON_SOLIDITY_NODE=
TRON_API_KEY=
TRON_USDT_TRC20_CONTRACT_ADDRESS=
TRON_COOL_WALLET_ADDRESS=
TRON_HOT_WALLET_ADDRESS=
TRON_HOT_WALLET_PRIVATE_KEY=
TRON_TRC20_DEPOSIT_MIN_AMOUNT=20
TRON_TRC20_TRANSACTION_FEE=3
TRON_TRC20_SYMBOL=USDT-TRC20

TRANSFER_SYMBOL=TRANSFER

# ETH - ERC20
ETH_RPC_ADDRESS=https://ropsten.infura.io/v3/289c50b2ebb945a892bc1242c803282b
ETH_RPC_ERC20_CONTRACT_ADDRESS=0xFa24f75591F42e010F626C77c83F55c469a42B1b
ETH_WALLET_ETHERSCAN_API_URL=https://api-ropsten.etherscan.io
ETH_WALLET_ETHERSCAN_API_KEY=4H3IGZP8JXGG4JQ93669DF3GZ1J7NWRTGF

ETH_HOT_WALLET_ADDRESS=0xcf231DC8B569bE348BC8cBf7931EacDDB80354C0
ETH_HOT_WALLET_PRIVATE_KEY=bc7042ba03a8dbf76fee7b58d4d2a2880659a53bf87f6c0a4605332c824d6239
ETH_COLD_WALLET_ADDRESS=0x72A42f1E4fcb511B6Dea264Bc8F4833e57E407b2
ETH_ERC20_DEPOSIT_MIN_AMOUNT=50
ETH_ERC20_TRANSACTION_FEE=30
ETH_ERC20_SYMBOL=USDT-ERC20

# SYSTEM CONFIG 
SYSTEM_ENABLE_AUTO_WITHDRAW_KEY=ENABLE_AUTO_WITHDRAW