node_modules
dist
/debug.log
.env.development
.env.test
.env.production
/.idea/bo_trading_api.iml
/.idea/encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
